@using Thinktecture.IdentityServer.Web.App_LocalResources.HRD
@model Thinktecture.IdentityServer.Protocols.WSFederation.HrdViewModel

@{
    ViewBag.Title = HRD_cshtml.HRD;
    ViewBag.HideMenu = true;
}

<h2>@HRD_cshtml.ChooseIdentityProvider</h2>
<h3>@Model.Party.Name</h3>
<h4>
    @if (!String.IsNullOrEmpty(Model.Party.ImageUrl))
    {
        <img src="@Model.Party.ImageUrl"/>
    }
    <pre>@Model.Party.Description</pre>
</h4>
@if(Model.Providers.Any())
{
    using(Html.BeginForm("Select", "HRD"))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(x=>x.OriginalSigninUrl)
    
        <ul class="hrd">
            @foreach (var provider in Model.Providers)
            {
                <li>
                    <button type="submit" class="provider-btn" name="idp" value="@provider.ID">
                        @if (!string.IsNullOrEmpty(provider.IconUrl))
                        {
                            <img src="@provider.IconUrl"/>
                        }
                        <span>@provider.DisplayName</span>
                    </button>
                </li>
            }
        </ul>
    
        <div>
            @Html.LabelFor(x=>x.RememberHRDSelection)
            @Html.CheckBoxFor(x=>x.RememberHRDSelection)    
        </div>
    }
}
else
{
    <p>@HRD_cshtml.NoIdentityProviders</p>
}